@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
  }

  body {
    @apply antialiased text-gray-800 bg-gray-50;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }

  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-white/40 shadow-lg transition-all duration-300;
  }
}